<div class="container">
  <h2>Contextual Classes</h2>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th>Exam</th>
        <th>Start time</th>
        <th>Email</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <td>def@somemail.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>Defaultson</td>
      </tr>
      <tr class="table-dark">
        <td>john@example.com</td>
        <td>Success</td>
        <td>Doe</td>
        <td>Doe</td>
      </tr>
      <tr class="table-secondary">
        <td>mary@example.com</td>
        <td>Danger</td>
        <td>Moe</td>
        <td>Moe</td>
      </tr>
      <tr class="table-success">
        <td>july@example.com</td>
        <td>Info</td>
        <td>Dooley</td>
        <td>Dooley</td>
      </tr>
      <tr class="table-warning">
        <td>bo@example.com</td>
        <td>Warning</td>
        <td>Refs</td>
        <td>Refs</td>
      </tr>
      <tr class="table-info">
        <td>act@example.com</td>
        <td>Active</td>
        <td>Activeson</td>
        <td>Activeson</td>
      </tr>
    </tbody>
  </table>
</div>
