  <div calss="d-lex flex-row justify-content-content">
    <span> <%= link_to "All Course", courses_path %> </span><br>
    <div class="wrapper">
      <div class="btn">
        <button type="button">Hover Me !</button>
      </div>
    </div>
    <div class="category_cha">

      <% @categories.each do |category| %>
      <%= link_to category.category, courses_path(:cate => category.id) ,class: "btn btn-outline-danger"%>
      <% end %>

    </div>

    <div class="inner-body">
      <div class="ciFKmO">
        <div class="contain">
          <input type="text" placeholder="Search...">
          <div class="search"></div>
        </div>
      </div>
      <h4 class="d-flex justify-content-between mb-4">

      </h4>
      <div class="course-index">
        <%= render @courses %>
      </div>
      <%= will_paginate @courses, list_classes: %w(pagination justify-content-end) , class:'paginate'%>
    </div>
