.full-body{
 background-color: #cddfef
}
.nav3{
  background-color: #cddfef;
  position: relative;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2 !important;
  background-color: rgb(255, 255, 255) !important;
}
.inner-nav{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.nav-items{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content:space-between;
  background-color: #fff;
  z-index: 2;
}
.logo{
  margin: auto;
  flex: 0.1;
}
.uton{
  flex: 0.9;
  display: flex;
  justify-content: space-between;
}
.ull1{
  flex: 0.8;
  display: flex;
  justify-content:space-around;
  align-items: center;

}
.ull3{
  float: right;
  flex: 0.2;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  margin: auto;
}
.item3{
  margin: 8px;
  padding: 8px;
  color: #333;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.nav3 a:hover {
  text-decoration: underline;
  color: #1368CE;

}
.nav3 a {
  text-decoration: none;
  color: #333;
}
.item33{
  margin: 8px;
  padding: 8px;
}
.btn-area{
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  color: #fff!important;
  border-radius: 5px;
  background: #d22938;
  height: 40px;
  width: auto;
  text-align: center;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.ghnSPz:hover {
    min-height: 40px;
    margin-top: 12px;
    padding-bottom: 2px;
    background-color: rgb(18, 96, 190);
    box-shadow: rgba(0, 0, 0, 0.25) 0px -2px inset;
}
.ghnSPz {
    width: auto;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.125) 0px -4px inset;
    position: relative;
    line-height: 14px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff!important;
    border-radius: 5px;
    background-color: #0d6adb;
    height: 40px;
    width: auto;
    text-align: center;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

.btna{
  color: #fff!important;
}
.menu-item-login{
width: auto;
height: 42px;
display: flex;
margin-right: 6px;
flex-direction: row;
justify-content: space-around;
background-color: white;
appearance: none;
cursor: pointer;
display: inline-block;
font-family: inherit;
font-size: 14px;
font-weight: 600;
line-height: 18px;
outline: none;
overflow: visible;
padding: 12px;
text-align: inherit;
text-decoration: none;
user-select: auto;
position: relative;
white-space: nowrap;
color: #222222;
}

.page-footer {
    background-color: #888;
    color: #fff;
    position: relative;
    padding: 50px 20px;
    font-size: 16px;
}
.inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.footer-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
}
.footer-nav-title{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 900;
display: block;
margin-bottom: 20px;
}
.page-footer a:hover {
  color: #fff;
text-decoration: underline;
}
.footer_nav_menu{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.page-footer a {
    color: #fff;
    text-decoration: none;
}
.page-footer li {
    list-style-type: none;
}
.menu-about{
  padding-left: 0px;
}
.footer-follow{
  display: flex;
  justify-content:space-between ;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 50px;

}
.nav-follow{
  flex:0.8;
  width: auto;
  display: flex;
  justify-content: space-around;
}
.title_follow{
  margin: auto 8px;
  display: flex;
  justify-content:space-around;
  width: 100px;
}
.partner-logos{
  display: flex;
  justify-content: space-between;
}
.partner_logos_item{
  background-color: #fff;
  border-radius: 4px;
  margin-left: 16px;
}
.ttvfb{
  display: flex;
  padding-left: 8px;
}
.ttvfb-i{
  margin: auto;
}
.menu-item{
  margin: 8px 0;
}
body{
  font-size: 16px;
  background: #fff!important;
}
.bodya{
  background-color: #e6f0f7;
  width: 100%;
  margin-top: 20px;
}
.inner-nava{
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
.h-form{
  display: flex;
  margin: 8px;
  height: 64px;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: rgb(222, 222, 222);
}
.t3hf0m{
  margin: auto;
  padding: 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 800
}
.bd-form{
  padding: 32px;
}
.frame{
  display: flex;
  background: #eaeaea;
}
.frame-form{
  background: #fff;
  margin: auto;
  border: 1px solid #B0B0B0;
  border-radius: 4px;
  width: 32%;
  margin-top: 32px;
  margin-bottom: 32px;
  overflow: visible;
  max-width: 540px;
}
._button{
  cursor: pointer;
  display: inline-block;
  margin: 5px 0 16px;
  text-align: center;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  padding: 14px 24px;
  border: none;
  background: rgb(158, 158, 158);
  color: #FFFFFF;
  width: 100%;
}
._m3o8wbc{
  cursor: text;
  text-decoration: none;
  height: 42px;
  width: 100%;
  margin: 16px 0;
  border: 0;
  outline: none!important;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;
}
._fb4s8m{
  display: flex;
}
.yc0l{
  margin: auto;
}
.ttvfb{
  width: 100%;
  display: flex;
}
.ttvfb-i{
  margin: auto;
  padding: 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    margin: 4px auto 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.dwpREI {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    flex-direction: row;
    margin: 24px auto 14px;
}
.duoxcH {
    margin: 0px;
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hLCKiw {
    position: absolute;
    padding: 0px 0.5rem;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    font-weight: bold;
    margin-top: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.facc{
  margin-top: 7px;
  display: flex;
  width: 76px;
  height:42px;
  justify-content: center;
  border-radius:5px;
  border: medium none;
  box-sizing: border-box;
  // border: 1px solid rgb(176, 176, 176) !important;
  cursor: pointer;
}
.acc1{
  margin: 13px 5px 13px 10px;
}
.acc2{
  // margin:auto;
  margin: 6px 10px 6px 5px;
}
._hnk65xp {
  background-color:#FF385C;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1.5px;
  position: absolute;
  z-index: 1;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 800;
  height: 16px;
  left: 100%;
  line-height: 16px;
  margin-left: -14px;
  min-width: 16px;
  padding: 0px 5px;
  text-align: center;
  top: 5px;
  animation-name: keyframe_5k3zne;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.1);
}
.dfGsjX {
    padding: 16px 20px;
    width: 200px;
}
.HAcQK {
    display: flex;
    padding: 8px 20px 0;
    min-width: 160px;
    margin-bottom: 8px;
}
.gsvIZw {
    line-height: 20px;
    font-size: 16px;
    position: relative;
    font-weight: 700;
    color: rgb(51, 51, 51);
    align-self: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cebCEZ {
font-size: 16px;
width: 100%;
color: rgb(51, 51, 51);
text-align: left;
cursor: pointer;
}
.ivbnnc {
    margin: 0px;
    border: 1px solid #808080;
}
.hvESoD {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    outline: currentcolor none 0px;
    border: 0px none;
    font-size: 16px;
    color: rgb(198, 9, 41)!important;
  padding: 10px;
   cursor: pointer;
}
.SoD{
  color: rgb(198, 9, 41)!important;
}
.inner-body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.fkxHJX {
  margin: auto;
    border: 1px dashed rgb(204, 204, 204);
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    border-radius: 4px;
    width: 140px;
    height: 140px;
    transition: background-color 0.125s linear 0s;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
}
.form-label{
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-weight: bold;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.css-1hwiqm{
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.frame-image{
  display: flex;
  width: 148px;
}
.nemu{
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  display: flex;
  min-width: 100px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}
.imagee{
  width: 100%;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fad20b;
}
.imageee{
  width: 40px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fad20b;
}
.browser-image{
  margin: 10px;
}
.css-179lkzd {
    margin: 16px 8px;
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.css-179lkzdr {
    margin: 18px 20px 0;
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.modal-dialog{
  width: 31%!important;
}
.category_cha{
display: flex;
justify-content: space-around;
}
.nav-link{
  margin-left: 100px;
}

.navbar{
  height: 80px;
}
.form-control{
  margin-top: 12px;
}
