<%= javascript_pack_tag 'result', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <div class="col-md-8", id="vques">
    <%= render 'status_form'%>
  </div>
  <div class="col-md-4">
    <%= render 'questions_list'%>
    <span id="dm"><button type="button" name="button">NEXT</button></span>
  </div>
</div>
