<div class="page-footer">
      <div class="inner">
        <div class="footer-tab">
          <div class="footer-col">
            <nav class="footer-nav" role="navigation" aria-label="About Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
              <div class="footer-nav-title">About</div>
                <div class="footer-nav-menu">
                  <ul class="menu-about">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10809"><a href="https://kahoot.com/company/" itemprop="url">Company</a></li>
                    <li class="menu-item"><a href="https://kahoot.com/leadership/" itemprop="url">Leadership</a></li>
                    <li class="menu-item"><a href="https://kahoot.com/jobs/" itemprop="url">Jobs – WE’RE HIRING!</a></li>
                    <li class="menu-item"><a href="https://kahoot.com/press/" itemprop="url">Press</a></li>
                    <li class="menu-item"><a href="https://kahoot.com/investor/" itemprop="url">Investor relations</a></li>
                    <li class="menu-item"><a href="https://kahoot.com/contact/" itemprop="url">Contact us</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="foote-col">
              <nav class="footer-nav" role="navigation" aria-label="Solutions Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <div class="footer-nav-title">Solutions</div>
                  <div class="footer-nav-menu">
                    <ul class="menu-about"><li id="menu-item-11950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11950"><a href="https://kahoot.com/home/" itemprop="url">At home</a></li>
                      <li class="menu-item"><a href="https://kahoot.com/schools/" itemprop="url">At school</a></li>
                      <li class="menu-item"><a href="https://kahoot.com/businesses/" itemprop="url">At work</a></li>
                      <li class="menu-item"><a href="https://kahoot.com/academy/" itemprop="url">Academy</a></li>
                      <li class="menu-item"><a href="https://kahoot.com/business/actimo/" itemprop="url">Actimo</a></li>
                      <li class="menu-item"><a href="http://languagedrops.com/kahoot" itemprop="url">Drops</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="footer-col">
                <nav class="footer-nav" role="navigation" aria-label="Resources Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                  <div class="footer-nav-title">Resources</div>
                    <div class="footer-nav-menu">
                      <ul class="menu-about"><li id="menu-item-8416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8416"><a href="https://kahoot.com/academy/study/" itemprop="url">Explore content</a></li>
                        <li class="menu-item"><a href="https://kahoot.com/blog/" itemprop="url">Blog</a></li>
                        <li class="menu-item"><a href="https://kahoot.com/webinars/" itemprop="url">Webinars</a></li>
                        <li class="menu-item"><a href="https://kahoot.com/certified/" itemprop="url">Kahoot! Certified</a></li>
                        <li class="menu-item"><a href="https://support.kahoot.com/" itemprop="url">Help Center</a></li>
                        <li class="menu-item"><a href="https://kahoot.com/library/" itemprop="url">Library</a></li>
                        <li class="menu-item"><a href="https://shop.kahoot.com" itemprop="url">Shop</a></li>
                        <li class="menu-item"><a href="https://kahoot.com/safety-center/" itemprop="url">Safety center</a></li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <div class="footer-col">
                  <nav class="footer-nav" role="navigation" aria-label="Terms and conditions Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                    <div class="footer-nav-title">Terms and conditions</div>
                      <div class="footer-nav-menu">
                        <ul class="menu-about"><li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="https://kahoot.com/terms-and-conditions/" itemprop="url">Terms and Conditions</a></li>
                          <li class="menu-item"><a href="https://kahoot.com/privacy-policy/" itemprop="url">Privacy Policy</a></li>
                          <li class="menu-item"><a href="https://kahoot.com/student-privacy-policy/" itemprop="url">Student Privacy Policy</a></li>
                          <li class="menu-item"><a href="https://kahoot.com/us-privacy-law-compliance/" itemprop="url">US Privacy Law Compliance</a></li>
                          <li class="menu-item"><a href="https://kahoot.com/privacy-policy/#children-policy" itemprop="url">Children’s Privacy Policy</a></li>
                          <li class="menu-item"><a href="https://kahoot.com/accessibility-policy/" itemprop="url">Inclusion and Accessibility policy</a></li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="footer-follow">
                  <nav class="nav-follow" role="navigation" aria-label="Follow us Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                      <div class="title_follow">
                        Follow us
                      </div>
                      <div class="title_follow">
                        <div class="yc0l">
                          <img src="../assets/twit.svg" width="30" height="30" alt="">
                        </div>
                        <div class="ttvfb" ">
                          <span class="ttvfb-i">Twitter</span>
                        </div>
                      </div>
                      <div class="title_follow">
                        <div class="yc0l">
                          <img src="../assets/fb.svg" width="30" height="30" alt="">
                        </div>
                        <div class="ttvfb" ">
                          <span class="ttvfb-i">Facebook</span>
                        </div>
                      </div>
                      <div class="title_follow">
                        <div class="yc0l">
                          <img src="../assets/lin.svg" width="30" height="30" alt="">
                        </div>
                        <div class="ttvfb" ">
                          <span class="ttvfb-i">Linkedin</span>
                        </div>
                      </div>
                      <div class="title_follow">
                        <div class="yc0l">
                          <img src="../assets/instagram.png" width="30" height="30" alt="">
                        </div>
                        <div class="ttvfb" ">
                          <span class="ttvfb-i">Instagram</span>
                        </div>
                      </div>
                      <div class="title_follow">
                        <div class="yc0l">
                          <img src="../assets/tiktok.png" width="30" height="30" alt="">
                        </div>
                        <div class="ttvfb" ">
                          <span class="ttvfb-i">TikTok</span>
                        </div>
                      </div>

                    </nav>
                    <div class="partner-logos">
                      <span class="partner_logos_item">
                        <img src="https://kahoot.com/wp-content/themes/kahoot2017/assets/img/microsoft-edu-partner-badge.svg" alt="Microsfot for education partner" class="ms-education-logo">
                      </span>
                      <span class="partner_logos_item">
                        <img src="https://kahoot.com/wp-content/themes/kahoot2017/assets/img/google-edu-partner-badge.svg" alt="Google for education partner" class="google-education-logo">
                      </span>
                    </div>
                  </div>


                  <div class="page-footer__base">
                    <span class="copyright">
                      Copyright © 2021, Kahoot! All Rights Reserved.
                    </span>

                    <div class="footer-apps-logo">
                      <a href="https://itunes.apple.com/app/apple-store/id1131203560?pt=2314983&amp;ct=kahootcommobileapp&amp;mt=8" data-tracking-id="apple-app-store-link">
                        <img src="/wp-content/themes/kahoot2017/assets/img/app-store-badge.svg" alt="Download on the App Store" width="135" height="40">
                      </a>
                      <a href="https://play.google.com/store/apps/details?id=no.mobitroll.kahoot.android&amp;referrer=utm_source%3Dkahoot%26utm_campaign%3Dmobileapp" data-tracking-id="google-play-store-link">
                        <img src="/wp-content/themes/kahoot2017/assets/img/google-play-badge.svg" alt="Get it on Google Play" width="135" height="40">
                      </a>
                      <a href="https://appgallery.cloud.huawei.com/marketshare/app/C101520215" data-tracking-id="app-gallery-store-link">
                        <img src="/wp-content/themes/kahoot2017/assets/img/AppGallery.png" alt="Explore it on AppGallery" width="135" height="40">
                      </a>
                      <a href="#top" id="to-top" title="back to top">
                        <img data-lzy-src="https://kahoot.com/wp-content/themes/kahoot2017/assets/img/kahoot-white.svg" src="https://kahoot.com/wp-content/themes/kahoot2017/assets/img/kahoot-white.svg" alt="Kahoot!" class="lzy-loaded">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
